@import "_reset";
@import "_variables";

.box {
  line-height: 1;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 60% 5% 35%;
  padding: 5px;
  background-color: #ff7400;
}

.clicked {
  color: #fff;
}

.left .left__content,
.left .left__title {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.left .left__content div:nth-child(2),
.left .left__desc div:nth-child(3),
.left .left__desc div:nth-child(4),
.left .left__title div:nth-child(2) {
  border-width: 1px;
  border-color: #fff;
}

.mid .mid__bottom,
.mid .mid__top {
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 24px;
  font-weight: 400;
}

.mid .mid__bottom {
  justify-content: flex-end;
}

.right .right__left,
.right .right__right {
  display: grid;
  grid-template-rows: repeat(4, 2.5fr) repeat(2, 2fr);
}

.left,
.left .left__desc {
  display: grid;
}

.left {
  -ms-grid-columns: 5% 70% 25%;
  grid-template-columns: 5% 70% 25%;
  color: red;
}

.left .left__content,
.left .left__desc,
.left .left__title {
  background-color: #ff7400;
}

.left .left__title div {
  justify-content: center;
}

.left .left__title div span {
  font-weight: 600;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}

.left .left__content div,
.left .left__desc div,
.left .left__title div {
  grid-row: span 1;
  border: 1px solid red;
  display: flex;
  align-items: center;
}

.left .left__content div {
  padding-left: 10px;
  justify-content: flex-start;
}

.left .left__content div span {
  font-weight: 700;
  font-size: 70px;
  white-space: nowrap;
}

.left .left__desc {
  grid-template-rows: repeat(12, 1fr);
}

.left .left__desc div {
  justify-content: center;
}

.left .left__desc div:nth-child(4) div {
  background-color: #fff;
}

.left .left__desc div div {
  width: 80%;
  height: 80%;
  border-radius: 30px;
  background-color: red;
}

.left .left__desc div div span {
  color: tomato;
}

.mid,
.right {
  display: -ms-grid;
  display: grid;
}

.mid {
  grid-template-rows: repeat(auto-fit, 50%);
  position: relative;
  margin-left: 5px;
}

.mid .mid__top {
  -ms-grid-row-span: 1;
  grid-row: span 1;
  background-color: teal;
  justify-content: flex-start;
}

.mid .mid__mid {
  position: absolute;
  border-radius: 50%;
  width: 85%;
  height: 50px;
  place-self: center center;
  background-color: #8a2be2;
}

.mid .mid__bottom {
  grid-row: 2 / span 1;
  background-color: peru;
}

.mid .mid__bottom span {
  transform: rotate(-180deg);
}

.right {
  grid-template-rows: 5% 95%;
  grid-template-columns: repeat(auto-fit, 50%);
  background-color: red;
}

.right .divide {
  border-top: 2px solid #000;
}

.right .right__title {
  font-size: 20px;
}

.right .right__nav {
  -ms-grid-row-span: 1;
  grid-row: span 1;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 20px;
}

.right .right__left,
.right .right__right {
  grid-row: 2/-1;
}

.right .right__left div,
.right .right__right div {
  padding: 5px 5px 0;
}

.clicked {
  color: #fff;
}