@import "_reset";
@import "_variables";

.box {
  background: $bg;
  border: 1px solid blue;
}

.grid-container {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: repeat(4, 1fr);
  height:50vh;
}

.item {
  &:nth-child(1) {
    background-color: blueviolet;
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  &:nth-child(2) {
    background-color: brown;
    grid-column: 1/2;
    grid-row: 2/-2;
    writing-mode: vertical-lr;
    text-orientation:upright;
  }

  &:nth-child(3) {
    background-color: coral;
    grid-column: 2/4;
    grid-row: 2/4;
  }

  &:nth-child(4) {
    background-color: cadetblue;
    grid-column: 3/-1;
    grid-row: 2/4;
    writing-mode: vertical-lr;
    text-orientation:upright;
  }
  &:nth-child(5) {
    background-color: darkkhaki;
    grid-column: 1/-1;
    grid-row: 4/-1;
  }

}
